/* PHASE 11: Icons */
.icon-comment {
  
}


.icon-reblog {
  
}

.icon-favorite {
  
}

[class*="icon-"]{
  background-image: url("../docs/sprite.png");
  display: inline-block;
  background-size: 25px 250px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  height: 0;
  width: 25px;
  padding-top: 25px;
}
